.App{
  margin:5px;
}

.header{
  max-width: 1500px;
  background-color:rgba(148, 180, 228, 0.555);
  display:flex;
  justify-content: center;
  align-content: center;

  padding: 5px;
}
.note_body{
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1500px;
  min-height: 500px;
}


.notestitle {
  flex: 0.25;
  background-color: rgb(235, 207, 235);
}

.noteslist{
  flex:0.75;
  background-color: rgb(221, 207, 233);
  display:flex;
}